@using NLayer.Core.DTOs.Concert;
@using NLayer.Web.Models;
@model ProductDetailViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = Model.ProductDto.Product.Name;
}

<!-- SECTION -->
<div class="section">
    <div class="container">
        <div class="row">
            <!-- Ürünün Resimi -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    @for (int i = 1; i < 5; i++)
                    {
                        var imageNo = +i;
                        <div class="product-preview">
                            <img src="~/img/@Model.ProductDto.Product.ImageUrl" alt="@Model.ProductDto.Product.ImageUrl">
                            <b>Resim @imageNo</b>
                        </div>
                    }
                </div>
            </div>
            <!-- /Ürünün Resimi -->
            <!-- Ürünün Küçük Resimi -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    @for (int i = 1; i < 5; i++)
                    {
                        var thumbnail = +i;
                        <div class="product-preview">
                            <img src="~/img/@Model.ProductDto.Product.ImageUrl" alt="@Model.ProductDto.Product.ImageUrl">
                            <center>@thumbnail</center>
                        </div>
                    }
                </div>
            </div>
            <!-- /Ürünün Küçük Resimi -->
            <!-- Ürün Detayları -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@Model.ProductDto.Product.Name</h2>
                    <div>
                        <div class="product-rating">
                            @for (int i = 1; i <= Model.ProductDto.Product.StarPoint; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                            @for (int i = 1; i <= 5 - Model.ProductDto.Product.StarPoint; i++)
                            {
                                <i class="fa fa-star-o"></i>
                            }
                            
                        </div>
                        <a class="review-link" href="#">@Model.ProductDto.Product.Comments.Count Yorum | Yorum ekle</a>
                    </div>
                    <div>
                        <h3 class="product-price">@Model.ProductDto.Product.Price.ToString("C2") <del class="product-old-price">@Model.ProductDto.Product.Price.ToString("C2")</del></h3>
                        @*Bu alanı stok durumuna göre yöneteceğim*@
                        <span class="product-available" style="color:green;">STOKTA VAR</span>
                    </div>
                    @*Bu alana devamı linki ekleyeceğim*@
                    <p>
                        @(Model.ProductDto.Product.Description.Length > 255
                            ? Model.ProductDto.Product.Description.Substring(0, 255) + " ..."
                            : Model.ProductDto.Product.Description)
                    </p>

                    @*Boyut, Renk, Adet ,Sepete Ekle , vb. işlemler düzenlenecek*@
                    <div class="product-options">
                        <label>
                            Boyut
                            <select class="input-select">
                                <option value="0">X</option>
                                <option value="1">L</option>
                            </select>
                        </label>
                        <label>
                            Renk
                            <select class="input-select">
                                <option value="0">Red</option>
                                <option value="1">Blue</option>
                            </select>
                        </label>
                    </div>
                    <div class="add-to-cart">
                        <div class="qty-label">
                            Adet
                            <div class="input-number">
                                <input type="number" value="1">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                            <span style="color:red; font-size:x-small;">(boyut,renk,adet alanları pasif durumda)</span>
                        </div>
                        <form asp-controller="Cart" asp-action="AddToCart" asp-route-Id="@Model.ProductDto.Product.Id">                            
                        <button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                        </form>
                    </div>
                    <ul class="product-btns">
                        <li><a href="#"><i class="fa fa-heart-o"></i> Favorilere ekle</a></li>
                        <li><a href="#"><i class="fa fa-exchange"></i> karşılaştır</a></li>
                        <span style="color:red;font-size:small;">(pasif durumda)</span>
                    </ul>
                    <ul class="product-links">
                        <li>Kategori:</li>
                        <li><a asp-controller="Home" asp-action="Products" asp-route-categoryId="@Model.ProductDto.Product.CategoryId">@Model.ProductDto.Product.Category.Name</a></li>
                        <li><a asp-controller="Home" asp-action="Products" asp-route-categoryId="@Model.ProductDto.Product.CategoryId">@Model.ProductDto.Product.Category.Name</a></li>
                    </ul>
                    <ul class="product-links">
                        <li>Paylaş:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- /Ürün Detayları -->
            <!-- Product tab -->


            <div class="col-md-12">
                <div id="product-tab">
                    <!-- Açıklama -->
                    <ul class="tab-nav">
                        <li><a data-toggle="tab" href="#tab1">Açıklama</a></li>
                        <li><a data-toggle="tab" href="#tab2">Detaylar</a></li>
                        <li class="active"><a data-toggle="tab" href="#tab3">Yorumlar (3)</a></li>
                    </ul>
                    <!-- /Açıklama -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in ">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>@Model.ProductDto.Product.Description</p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in ">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>@Model.ProductDto.Product.Description</p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab2  -->
                        <!-- tab3  -->
                        <div id="tab3" class="tab-pane fade in active">
                            <div class="row">
                                <!-- Rating -->
                                <div class="col-md-3">
                                    <div id="rating">
                                        <strong>Değerlendirme Puanı</strong>
                                        <div class="rating-avg">
                                            <span>@Model.ProductDto.Product.StarPoint</span>
                                            <div class="rating-stars">
                                                @for (int i = 1; i <= Model.ProductDto.Product.StarPoint; i++)
                                                {
                                                    <i class="fa fa-star"></i>
                                                }
                                                @for (int i = 1; i <= 5 - Model.ProductDto.Product.StarPoint; i++)
                                                {
                                                    <i class="fa fa-star-o"></i>
                                                }
                                            </div>
                                        </div>
                                        <ul class="rating">
                                           
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 100%"></div>
                                                </div>
                                                <span class="sum">5</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 80%;"></div>
                                                </div>
                                                <span class="sum">4</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 60%;"></div>
                                                </div>
                                                <span class="sum">3</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 40%;"></div>
                                                </div>
                                                <span class="sum">2</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 20%;"></div>
                                                </div>
                                                <span class="sum">1</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Rating -->

                                
                                <!-- Reviews -->
                                <div class="col-md-6">
                                    <div id="reviews">
                                        <ul class="reviews">
                                            @foreach (var comment in Model.ProductDto.Product.Comments)
                                            {
                                                <li>
                                                    @* Resim eklenebilir.*@
                                                    <div class="review-heading">
                                                        <h5 class="name">@comment.CreatedByName</h5>
                                                        <p class="date">@comment.CreatedDate.ToShortDateString()</p>
                                                        <div class="review-rating">
                                                            <div class="product-rating">
                                                                @for (int i = 1; i <= Model.ProductDto.Product.StarPoint; i++)
                                                                {
                                                                    <i class="fa fa-star"></i>
                                                                }
                                                                @for (int i = 1; i <= 5 - Model.ProductDto.Product.StarPoint; i++)
                                                                {
                                                                    <i class="fa fa-star-o"></i>
                                                                }

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="review-body">
                                                        <p>@comment.Text</p>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                        <ul class="reviews-pagination">
                                            <li class="active">1</li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li> 
                                            <p style="color:red;">(Sayfalama şu anda pasif durumda)</p>
                                        </ul>
                                       
                                    </div>
                                </div>
                                <!-- /Reviews -->
                                

                                <!-- Review Form -->
                                @*model="new CommentAddDto{ProductId=Model.Product.Id}"*@
                                <partial name="~/Views/Comment/_CommentAddPartial.cshtml"></partial> 
                                
                                <!-- /Review Form -->
                            </div>
                        </div>
                        <!-- /tab3  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- Section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Benzer Ürünler</h3>
                    <p style="color:red;">(Düzenlenecek)</p>
                </div>
            </div>

            <!-- product -->
            <div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="./img/product01.png" alt="">
                        <div class="product-label">
                            <span class="sale">-30%</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        <div class="product-rating">
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>
            <!-- /product -->
            <!-- product -->
            <div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="./img/product02.png" alt="">
                        <div class="product-label">
                            <span class="new">NEW</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>
            <!-- /product -->
            <div class="clearfix visible-sm visible-xs"></div>
            <!-- product -->
            <div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="./img/product03.png" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>
            <!-- /product -->
            <!-- product -->
            <div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="./img/product04.png" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        <div class="product-rating">
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>
            <!-- /product -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /Section -->	